<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tmpl test</title>
</head>
<body>
    {{/*嵌套了一个模板*/}}
    <h1>测试嵌套template语法</h1>
    <hr>
    {{template "ul.tmpl"}}
    <hr>
    {{template "ol.tmpl"}}

    <p>{{ . }}</p>
</body>
</html>
{{/*通过define 定义一个模板*/}}
{{ define "ol.tmpl"}}
<ol>
    <li>喜欢吃饭</li>
    <li>睡觉</li>
    <li>打豆豆</li>
</ol>
{{end}}